@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}
/* --------------------------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    background-color: rgba(16,40,54,1.0);
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0 64px;
    border: 0;
}

.navbar-left {
    font-weight:600;
    font-size: 20px;
}

.navbar-brand {
    text-decoration: none;
    color: white;
}

.navbar-right a {
    margin-left: 32px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar a:hover {
    color: #0ABBCC;
    /* border-bottom: 2px solid #0ABBCC; */
}
/* --------------------------------------------------------------------- */
footer {
    background-color: rgba(16,40,54,1.0);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 16px;
    margin-top: 156px;
}
/* --------------------------------------------------------------------- */
.homebox-1 {
    background-color: rgba(16,40,54,0.1);
    height: 512px;
    border-radius: 16px;
    margin-top: 156px;
    margin-left: 64px;
    margin-right: 64px;
    padding: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.homebox-2 {
    background-color: rgba(16,40,54,0.1);
    height: 512px;
    border-radius: 16px;
    margin-top: 96px;
    margin-left: 64px;
    margin-right: 64px;
    padding: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.box-content {
    box-sizing: border-box;
    justify-content: flex-start;
    align-self: flex-start;
}

.box-content  h2 { 
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    position: absolute;
    left: 36px;
    top: 36px;
}

.top-p {
    margin-top: 80px;
}

.box-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgba(16,40,54,0.75);
    text-align: left;
}

.box-image {
    padding: 6px;
    padding-left: 36px;
    margin: 0 auto;
}

.box-image img {
    display: block;
    height: 400px;
    width: 336px;
    border-radius: 8px;
    object-fit: fill;
}
/* --------------------------------------------------------------------- */