* {
    box-sizing: border-box;
}
h1 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #006d77;
}
h2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.container1 {
    margin: auto;
    width: 70%;
    background-color: rgba(128, 128, 128, 0.178);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-content: space-evenly;
} 
.button1 {
    width: 100px;
    height: 50px;
    padding: 10px; 
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    background-color: #b7b7a4;
    border: none;
}
.button1:hover {
    background-color: lightblue;
    cursor: pointer;
}
.container2 {
    margin: auto;
    width: 70%;
    background-color: rgba(128, 128, 128, 0.178);
    padding: 50px;
    border-radius: 20px;
    margin-top: 20px;
}
table {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    font-family: 'Ubuntu', sans-serif;
}
table.center {
    margin-left: auto; 
    margin-right: auto;
  }
td {
    border: 1px solid #00000050;
    text-align: left;
    padding: 10px;
}
object {
    /* margin-top: 50px; */
    width: 800px; 
    height: 500px;
}
.pdf-container {
    display: flex;
    justify-content:center
}
embed {
    width: 800px; 
    height: 500px;
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 10px;
}
.text-container {
    display: flex;
    justify-content:center 
}
